<style type="text/css">
	
.jumbotron {

    margin-bottom: 0;
}
.nav-item{
	padding-left: 25px;
}
.navbar{
	background-color: grey;
}

</style>


<div class="jumbotron" style="background-color: #61dafb; color: grey; ">
  		<h1 align="center">Ruby On Rails</h1>
  	</div>
  		
  	
  	<nav class="navbar navbar-expand-sm navbar-light">
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <a class="btn btn-warning" href="/">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="btn btn-warning active" href="/view">Our products</a>
	    </li>
	    <li class="nav-item">
	      <a class="btn btn-warning" href="/about">About Us</a>
	    </li>
	    <li class="nav-item">
	      <a class="btn btn-warning" href="/contact">Contact Us</a>
	    </li>
	  </ul>
	</nav>

	<div class="container">

			<div class="row">
				<div class="col-lg-6" style="color: red">
					<h1><%= @sample%></h1>   
				</div>
				<div class="col-lg-6" style="color: red">
					<h1><%= @wish%></h1>
				</div>
			</div>
		
					<div class="row">

						<div class="col-lg-6">
							<h1>What is Lorem Ipsum?</h1>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</div>

						<div class="col-lg-6">

							<h1>Why do we use it?</h1>
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
						</div>
						
					</div>
			
	</div>



