<table>
  <tr>
    <th>Author Name</th>
    <th>Author Nationality</th>
    <th>Author Grade</th>
  </tr>
  <tr>
    <td><%= @author.name %></td>
    <td><%= @author.nationality.country %></td>
    <td><%= @author.grade %></td>
  </tr>
</table>