	
		<div class="contactUs-body">
			<div class="contactUs-form" align="center">
				<h1 align="center">Contact Us</h1>
				<h4 align="center"> How can we help you ?</h4>
				<form onsubmit="return false">
					<table>
						<tr>
							<td align="center"><input type="text" placeholder="Name" align="center" size="50" class="input" id="name"></td>
						</tr>

						<tr>
							<td align="center"><input type="Email" placeholder="Your Email address" align="center" size="50" class="input" id= "email"></td>
						</tr>

						<tr>
							<td align="center"><input type="tel" placeholder="Your Phone number" align="center" size="50"  class="input" id="phone"></td>
						</tr>

						<tr>
							<td align="center"><input type="text" placeholder="Your subject" align="center" size="50" class="input" id="subject"></td>
						</tr>

						<tr>
							<td align="center"><textarea rows="10" cols="49" placeholder="Text here" class="textarea" id="description"></textarea></td>
						</tr>

						<tr>
							<td align="center"><button type="submit" onclick="formValidate()" class="button">Conatct</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	