	<style type="text/css">

		.active-home{
			background-color:  #adad85;
			color: black;

		}
		
	</style>

	<div class="data">
		
		<h1>Company profile</h1>
			<p>
				Source Code Software Co. is one of the few IT system integration, professional service and software development companies in India that works with Enterprise systems and companies. As a privately owned company, Source Code Software Co. provides IT Consultancy, software design and development as well as professional services and hardware deployment and maintenance to the following verticals:
				
				<ul>
					<li>Government (Local and Central)</li>
					<li>Financial Services (insurance, banking and clearing house)</li>
					<li>Telecommunications</li>
					<li>Energy and Utilities</li>
					<li>Health Care</li>
					<li>Education</li>	
				</ul>

				<h1>
					Our team
				</h1>
			</p>

				<!--Images-->

		<div class="Our-Team">
			<div class="column">
				<img src="CEO.jpg" height="250" width="250">
					<figcaption>
						<h4>
							CEO
						</h4>
					</figcaption>
			</div>
			
			<div class="column">	
				<img src="Project manager.jpeg" height="250" width="250">
					<figcaption>
						<h4>Project manager</h4>
					</figcaption>
			</div>

			<div class="column">	
				<img src="Team.jpg" height="250" width="250">
				<figcaption>
					<h4>Developing Team</h4>
				</figcaption>
			</div>
			
			<div class="column">	
				<img src="Team1.jpg" height="250" width="250">
				<figcaption>
					<h4>Designing Team</h4>
				</figcaption>
			</div>
		</div><!--Images end Here-->
		
		<div class="feedback">
			

		<form class="form">
			<table>
				<th colspan="2" align="center">Feedback</th>
				<th rowspan="4" align="center"><img src="new.jpg" width="750" height="300"></th>
					<tr>
						<td align="center">Email:</td><td align="center"> <input type="Email" size="50" class="Email" placeholder="Email here...."></td>
					</tr>
					
					<tr>
						<td align="center">Feedback:</td><td align="center"><textarea rows="10" cols="49" class="textarea" placeholder="Comment here......"></textarea></td>
						<tr><td></td> <td align="center"><input type="button" value="submit" class="form-btn"></td></tr>
					</tr>
				</table>
			</form>
		</div>
	</div>

