
		
		<div class="Services-body">

		<div class="company-services">

			<h1>Services</h1>
			
			<p>
			
				Source Code Software Co. offers a wide range of IT support, sales and services to businesses and organizations of all sizes in the Peoria and Central Illinois area. 

				Please select a service from the list below to learn more about how Facet Technologies can help your business or organization achieve its technology goals!

				<li>
					<a href="#">IT Consulting Services >>></a>
				</li>
				
				<li>
					<a href="#">Business IT Support >>></a>
				</li>
				
				<li>
					<a href="#">IT Consulting Services Peoria IL >>></a>
				</li>
				
				<li>
					<a href="#">Computer Repair Services >>></a>
				</li>
				
				<li>
					<a href="#">Data Recovery Services >>></a>
				</li>
				
				<li>
					<a href="#">Network Backups >>></a>
				</li>
				
				<li>
					<a href="#">Network Security Company >>></a>
				</li>

				<li>
					<a href="#">On-Site IT Staffing Company >>></a>
				</li>

				<li>
					<a href="#">Remote PC Support >>></a>
				</li>

				<li>
					<a href="#">Virus Removal Services >>></a>
				</li>

				<li>
					<a href="#">Supplemental IT Staffing >>></a>
				</li>
				
				<li>
					<a href="#">Web &amp; Software Development >>></a>
				</li>
				
			</p>

		</div>

			<h1>Our Technologies</h1>

				<li>
					<a href="#">SAP >>></a>
				</li>

				<li>
					<a href="#">Oracle >>></a>
				</li>
				<li>
					<a href="#">Python >>></a>
				</li>
				<li>
					<a href="#">AI >>></a>
				</li>

				<li>
					<a href="#">Java >>></a>
				</li>

				<li>
					<a href="#">.Net >>></a>
				</li>

				<li>
					<a href="#">CIS >>></a>
				</li>

				<li>
					<a href="#">Big Data >>></a>
				</li>

				<li>
					<a href="#">Datastage >>></a>
				</li>

				<li>
					<a href="#">Cognos >>></a>
				</li>

				<li>
					<a href="#">SSIS >>></a>
				</li>

				<li>
					<a href="#">SSRS >>></a>
				</li>

				<li>
					<a href="#">node >>></a>
				</li>
				
				<li>
					<a href="#">Ruby >>></a>
				</li>
				
		</div>
