<table class="table table-bordered">
  <tr>
    <th>Name Of Publisher</th>
    <th>Publishers From</th>
  </tr>
  <tr>
    <td><%= @publisher.name %></td>
    <td><%= @publisher.from %></td>
  </tr>

</table>