<footer>
  <div class="footer">
    
      <h1 class="footer-h1" align="center">
        Source Code Software Co.
      </h1>
      <div class="list" align="center">
      <ul>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Branches</a></li>
      </ul>
      </div>
    <h4 align="center">Copy rights reserved upto 2021 by Source Code Software Co. </h4>
  </div>
</footer>
